@model GolfClubMLD.Models.EquipmentBO
@using GolfClubMLD.Models

@{
    ViewBag.Title = "EquipmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditEquipment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("EditEquipment", "Manager", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table">
        <tr>
            <th>
                Equipment Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                <select name="eqTypId">
                    @foreach (EquipmentTypesBO eq in ViewBag.AllEquipTypes)
                    {
                        <option value="@eq.Id">@eq.Name</option>
                    }
                </select>
            </td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                Current:
                <img src="@Model.PicUrl" />
                @Html.TextBox("file", "", new { type = "file" })
            </td>
            <td>
                @Html.EditorFor(model => model.Descr)
                @Html.ValidationMessageFor(model => model.Descr, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </td>
        </tr>

    </table>
    <input type="submit" />
}