@model GolfClubMLD.Models.ViewModel.UserLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["LoginEmail"] != null)
{
    <h2>Vec ste prijavljeni : @Session["LoginEmail"]</h2>
    @Html.ActionLink("Nazad na pocetak", "Index", "Home")
}
else
{
    <h2>Login</h2>
    if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    using (Html.BeginForm("Login", "Authentification", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>AdminBO</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "primer@gmail.com" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                    <input type="checkbox" id="ckShowPass" onclick="myshowp()" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<script>
    function myshowp() {
        ckbox = $('#ckShowPass')
        txtBox = $('#Pass')

        if (ckbox.is(':checked')) {
            txtBox.attr("Type", "Text");
        }
        else {
            txtBox.attr("Type", "Password");
        }
    }
</script>