@model IEnumerable<GolfClubMLD.Models.EquipmentBO>
@using GolfClubMLD.Models
@{
ViewBag.Title = "EquipmentALL";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EquipmentALL</h2>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            @if (!User.IsInRole("Customer"))
            {
                var equipTypes = (List<EquipmentTypesBO>)ViewData["equipTypes"];
                int numOfTypes = equipTypes.Count;
                foreach (var et in equipTypes)
                {
                    <div class="col-md-@numOfTypes" name="@et.Id">@Html.ActionLink(@et.Name, "HomeEquipment", "Home", new { typeId = et.Id }, new { @class = "link" })</div>
                }
           }
            </div>
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm("SelectedItem", "Customer", FormMethod.Post))
        {
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        @if (User.IsInRole("Customer"))
                        {
                            <td>
                                <input type="checkbox" id="selItems" name="selItems" value="@item.Id" />
                            </td>
                        }
                        <td>
                            <input type="hidden" value="@item.Id" name="item" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PicUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EquipmentTypId)
                        </td>
                    </tr>
                }
            </table>
            if(User.IsInRole("Customer"))
            {
                <input id="Submit" type="submit" value="submit" />
            }
     }
        </div>
   
</div>