@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["LoginEmail"] != null && User.IsInRole("Admin"))
{
    <h2>Admin panel</h2>
    <div>
        @Html.ActionLink("Korisnici", "UserList", "Admin")<br />
        @Html.ActionLink("Tereni", "GolfCoursesList", "Admin")<br />
        @Html.ActionLink("Termini", "TermsList", "Admin")<br />
        @Html.ActionLink("Oprema", "EquipmentList", "Admin")<br />
        @Html.ActionLink("Iznajmljivanja", "AllRents", "Admin")<br />
    </div>
}
else
{
    Html.Partial("SomethingWentWrong");
}
