@model IEnumerable<GolfClubMLD.Models.TermBO>
@using GolfClubMLD.Models
@{
    ViewBag.Title = "TermsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CourseTermsList</h2>
@if (ViewBag.AdminTerm != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.AdminTerm
    </div>
}
@if (ViewBag.AdminTermError != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.AdminTermError
    </div>
}
<p>
    @Html.ActionLink("Dodaj termin", "CreateTerm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime) - @Html.DisplayNameFor(model => model.EndTime)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime) -  @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTerm", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteTerm", new { id = item.Id })
            </td>
        </tr>
    }

</table>
