@model List<GolfClubMLD.Models.CourseTermBO>
@using GolfClubMLD.Models
@{
    ViewBag.Title = "ReserveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReserveCourse</h2>
@{ var mod = Model.First();
    Dictionary<int, DayOfWeek> days = new Dictionary<int, DayOfWeek>()
    {
        {0, DayOfWeek.Sunday},
        {1, DayOfWeek.Monday},
        {2, DayOfWeek.Tuesday},
        {3, DayOfWeek.Wednesday},
        {4, DayOfWeek.Thursday},
        {5, DayOfWeek.Friday},
        {6, DayOfWeek.Saturday}
    };
    var today = DateTime.Now.DayOfWeek;
}
<form asp-controller="Customer" asp-action="ReserveCourse" method="get">
    <input type="hidden" name="courseId" value="@mod.CourseId" />
    <select name="selDay" id="selDay" onchange="this.form.submit();">
        @foreach (KeyValuePair<int, DayOfWeek> s in days)
        {
            if (s.Value >= today)
            {
                if (s.Value.Equals(ViewData["SelDay"].ToString()))
                {


                <option value="@s.Key" selected>@s.Value</option>
                }
                else
                {
                <option value="@s.Key">@s.Value</option>
                }
            }
        }
    </select>
</form>
<form asp-controller="Customer" asp-action="ReserveCourse" method="post">
    <select name="CourseTerm">
        @foreach (var ct in Model)
        {
            <option value="@ct.Id">@ct.Term.StartTime - @ct.Term.EndTime</option>
        }
    </select>
    <input type="submit" value="Potvrdi" />
</form>
<script>
    const sl = document.querySelector('#selDay');
    this.form
</script>

