@model List<GolfClubMLD.Models.CourseTermBO>
@using GolfClubMLD.Models
@{
    ViewBag.Title = "ReserveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReserveCourse</h2>
@{ var mod = Model.First();
    Dictionary<int, string> days = new Dictionary<int, string>()
    {
        {1, "Monday"},
        {2, "Tuesday"},
        {3, "Wednesday"},
        {4, "Thursday"},
        {5, "Friday"},
        {6, "Saturday"},
        {7, "Sunday"},
    };
    var today = DateTime.Now.DayOfWeek;
}
<form asp-controller="Customer" asp-action="ReserveCourse" method="get">
    <input type="hidden" name="courseId" value="@mod.CourseId" />
    <select name="selDay" id="selDay" onchange="this.form.submit();">
        @for (int i = 0; i < days.Keys.Count; i++)
        {
            if (i >= (int)DateTime.Now.DayOfWeek)
            {
                if (days[i].Equals(ViewData["SelDay"].ToString()))
                {

                    <option value="@i" selected>@days[i]</option>
                }
                else
                {
                    <option value="@i">@days[i]</option>
                }
            }
        }
    </select>
</form>

<form asp-controller="Customer" asp-action="ReserveCourse" method="post">
    <select name="CourseTerm">
        @foreach (var ct in Model)
        {
            <option value="@ct.Id">@ct.Term.StartTime - @ct.Term.EndTime</option>
        }
    </select>
    <input type="submit" value="Potvrdi" />
</form>
<script>
    const sl = document.querySelector('#selDay');
    this.form
</script>

