@model Dictionary<string, List<GolfClubMLD.Models.CourseTermBO>>
@using GolfClubMLD.Models
@{
    ViewBag.Title = "ReserveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReserveCourse</h2>
@{
    DateTime dt = DateTime.Now;
    if (Session["selRentDate"] != null)
    {
        dt = DateTime.Parse(Session["selRentDate"].ToString());
    }

}

@if (Model != null)
{
    <form asp-controller="Customer" asp-action="ReserveCourse" method="get">
        <input type="hidden" name="courseId" value="@Session["selCourse"]" />
        <select name="ctDay" onchange="this.form.submit();">
            @foreach (string dateT in Model.Keys)
            {
                DateTime dd = DateTime.Parse(dateT);
                if (dd.DayOfWeek == dt.DayOfWeek)
                {
                    <option value="@dateT" selected>@dd.DayOfWeek</option>
                }
                else
                {
                    <option value="@dateT">@dd.DayOfWeek</option>
                }

            }
        </select>
        @*<input type="submit" id="day" name="Odaberi" onclick="myFunction()" />*@
    </form>
    <form asp-controller="Customer" asp-action="ReserveCourse" method="post">
        <input type="hidden" name="courseId" value="@Session["selCourse"]" />
        <div id="myDIV">
            <select name="courseTermId" id="dateSel">
                @{
                    string strDt = dt.ToShortDateString();
                    List<CourseTermBO> selCt = Model[strDt];
                    foreach (var tr in selCt)
                    {
                        <option value="@tr.Id">@tr.Term.StartTime - @tr.Term.EndTime</option>
                    }


                }
            </select>
            <input type="submit" value="Potvrdi" id="buttonConf" />
        </div>
    </form>
}
else
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}


