@model List<GolfClubMLD.Models.CourseTermBO>
@using GolfClubMLD.Models
@{
    ViewBag.Title = "ReserveCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReserveCourse</h2>
@{ var mod = Model.First();
    List<string> days = new List<string>{"Mon",
                                        "Tue",
                                        "Wen",
                                        "Thu",
                                        "Fri",
                                        "Sat",
                                        "Sun"};
}
<form asp-controller="Customer" asp-action="ReserveCourse" method="get">
    <input type="hidden" name="courseId" value="@mod.CourseId" />
    <select name="selDay" id="selDay" onchange="this.form.submit();">
        @foreach (string s in days)
        {
            if (s.Equals(ViewData["SelDay"].ToString()))
            {


                <option value="@s" selected>@s</option>
            }
            else
            {
                <option value="@s">@s</option>
            }
        }
    </select>
</form>
<form asp-controller="Customer" asp-action="ReserveCourse" method="post">
    <select name="CourseTerm">
        @foreach (var ct in Model)
        {
            <option value="@ct.Id">@ct.Term.StartTime - @ct.Term.EndTime</option>
        }
    </select>
    <input type="submit" value="Potvrdi" />
</form>
<script>
    const sl = document.querySelector('#selDay');
    this.form
</script>

