@model GolfClubMLD.Models.ViewModel.RentInfoConfirmViewModel
@using GolfClubMLD.Models
@{
    ViewBag.Title = "SelectedItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Podaci o iznajmljivanju</h2>
@using (Html.BeginForm("Rent", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(model=>model.CustomerCredCard.Cust.Id)
    @Html.HiddenFor(model=>model.CorTerm.Id)
    <p>
        *Ime:@Html.DisplayFor(model => model.CustomerCredCard.Cust.Fname)
    </p>
    <p>
        *Prezime: @Html.DisplayFor(model => model.CustomerCredCard.Cust.Lname)
    </p>

    <p>
        *Email: @Html.DisplayFor(model => model.CustomerCredCard.Cust.Email)
    </p>

    <p>
        *Broj kartice: @Html.DisplayFor(model => model.CustomerCredCard.CredCard.CarNum)
    </p>

    <p>
        *Teren: @Html.DisplayFor(model => model.Course.Name)
    </p>

    <p>
        *Tip terena: @Html.DisplayFor(model => model.Course.CourseType.Name)
    </p>

    <p>
        *Datum iznajmljivanja: @Html.DisplayFor(model => model.CorTerm.dayOfW)
    </p>

    <p>
        *Vreme iznajmljivanja: @Html.DisplayFor(model => model.CorTerm.Term.StartTime) - @Html.DisplayFor(model => model.CorTerm.Term.EndTime)
    </p>
    <p>
        @{
            List<EquipmentBO> allEqiup = Model.Equipment;
        }
        Oprema:
        @for(int i=0;i<allEqiup.Count;i++)
        {
            EquipmentBO e = allEqiup[i];
            <input type="hidden" name="equipIds" value="@e.Id" />
            @Html.DisplayFor(model => allEqiup[i].EquipmentTypes.Name); @Html.DisplayFor(model => allEqiup[i].Name);
            <br/>
        }
    </p>
    <p>
        Cena: @Html.DisplayFor(model => model.Course.Price)
    </p>

    <input type="submit" value="Potvrdi" />
}
